*{
    padding: 0;
    margin: 0;
    font-family: 'open sans' 'Times New Roman', Times, serif;
}
#about {
    width:100%
    padding 80px,0px;
    background-color: rgba(183, 107, 119, 0.753);
}
.Who-We-Are{
  width: 1135px;
  max-width: 96%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Who-We-Are-img{
    height: auto;
    width: 50%;
}
.Who-We-Are-info{
 width: 550px; 
}
.Who-We-Are-info h1{
    color: black;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 2px;
}
.Who-We-Are-info p{
    color: black;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 43px;
}
